/* Web Fonts & Fonts */
@font-face {
    font-family: 'akzidenz-grotesk_bqbold';
    src: url('../fonts/akzidenzgrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz-grotesk_bqregular';
    src: url('../fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Reset */

* {outline: none; box-sizing: border-box; -webkit-overflow-scrolling: touch}
a {text-decoration: none; cursor: pointer;}
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
body, html {}
body { overflow-x: hidden;}
input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}

/* Common Classes */
.wid100 {width:100%; float: left; }
.fleft {float: left;}
.fright {float: right;}
.listn {list-style: none; margin: 0; padding: 0;}
.defimg {width: 100%; height: auto;}
.defimg2 {width: auto; height: auto;}
.coverimg {width: 100%; height: 100%; object-fit: cover;}
.containimg {width: 100%; height: 100%; object-fit: contain;}
.pagewrapper {width: 100%;  margin: 0 auto; max-width: 1366px; padding: 0 25px;}
.pagewrapper2 {width: 100%; margin: 0 auto; max-width: 990px;}
img {@extend .defimg}
.close {width: 35px; height: 35px; background: url(../images/iconset1.png) no-repeat right -35px; position: absolute; right: 10px; top: 10px;}
.flex {  display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: flex-start;  flex-wrap: wrap;}

/* Colors & Fonts */
$fontmain: 'akzidenz-grotesk_bqregular', Arial, sans-serif;
$fonthead: 'akzidenz-grotesk_bqbold', Arial, sans-serif;
$fontlink: 'Proxima Nova', Arial, sans-serif;
$fontcat: 'montserratsemibold', Arial, sans-serif;

/* Colors */
$white: #fff;
$black: #000;
$blue: #1dbfd8;
$gray: #878787;
$lblack: #1a1e1f;
$lgray: #939597;

.hero-title  { font-size: 72px; color: $black; word-break: break-word; font-family: $fonthead;}
.font-36  { font-size: 36px; color: $white; font-family: $fonthead; text-transform: uppercase;}
.sec-title  { font-size: 48px; color: $white; font-family: $fonthead; }
.border-nav { display: block; height: 7px; width: 100%; background: $black; position: relative; z-index: 3;}
.item-title  {font-size: 22px; font-family: $fonthead; color: $blue; text-transform: uppercase; letter-spacing: 1px;}

.pad-70 { padding-left: 70px;}
.reg { font-family: $fontmain;}


/* ANIMATION */
.slide-down { animation: 1s slide-down ease-in-out forwards; -webkit-animation: 1s slide-down ease-in-out forwards;}
.slide-up { animation: 1s slide-up ease-in-out forwards;  -webkit-animation: 1s slide-up ease-in-out forwards; } 
.slide-left { animation: 1s slide-left ease-in-out forwards;  -webkit-animation: 1s slide-left ease-in-out forwards; } 
.slide-right { animation: 1s slide-right ease-in-out forwards; -webkit-animation: 1s slide-right ease-in-out forwards;}

/* animation end */

.homepage {overflow: hidden}


.learn-more-blue { 
    a { display: inline-block; padding: 15px 35px; background: $blue; text-transform: uppercase; text-decoration: none; color: $white; font-family: $fonthead; letter-spacing: 2px; border: 2px solid $white; position: relative; transition: 0.5s ease-in-out; z-index: 3;}
    a::after { position: absolute; content: ''; left: 0; width: 0; background: white; height: 50%; top: 0; transition: 0.5s ease-in-out; z-index: -1;}
    a::before { position: absolute; content: ''; right: 0; width: 0; background: white; height: 50%; bottom: 0; transition: 0.5s ease-in-out; z-index: -1;}
}

.learn-more-blue:hover {
    a { color: $blue;}
    a::after, a::before { width: 100%; }
}

body.nav-open { height: 100%; overflow: hidden;}

header { background: $white;   padding-left: 30px; z-index: 50;
    

    aside {     position: absolute; top: 50%; transform: translate(0, -50%); left: 30px;
        img { width: 100%; max-width: 200px;}
    }

    ul { @extend .flex; justify-content: flex-end; padding-left: 220px;
        li { padding: 44px 30px; position: relative;
            a { display: block;  text-transform: uppercase; font-family: $fontmain; color: $black; text-decoration: none; font-size: 18px;  }
            a:hover, a:focus { text-decoration: none; color: $black; }
        }

        li.contact-nav { background: $blue; 
            a { color: $white;}
        }

        li::after, li.active::after { position: absolute; top: -7px; width: 100%; background: $blue; height: 0px; content: ''; left: 0; transition: height 0.3s ease-in-out;}

        li:hover::after, li.active::after { height: 7px;   }
    }

    .menu-hldr {
        > ul.listn { padding-left: 220px;}
    }
    
    .menu-hldr.active ul {
        li { @extend .slide-up;} 
        li:first-child { animation-delay: 0.6s}
        li:nth-child(2) { animation-delay: 0.7s}
        li:nth-child(3) { animation-delay: 0.8s}
        li:nth-child(4) { animation-delay: 0.9s}
        li:nth-child(5) { animation-delay: 1s}
        li:last-child { animation-delay: 1.1s}
    }


    .burger { position: absolute; top: 50%; transform: translate(0, -50%); right: 20px; cursor: pointer; display: none; z-index: 6;

        span { display: block; height: 4px; width: 40px; background: $lblack; margin-bottom: 4px; border-radius: 5px;}
        span:last-of-type{ margin-bottom: 0px;}
    }


    .burger.active {
        span:first-of-type { animation: x1 .5s ease-in-out forwards; }
        span:nth-of-type(2) { animation: rem .5s ease-in-out forwards; }
        span:last-of-type { animation: x2 .5s ease-in-out forwards; }
    }

    .burger.not-active.onload {
        span:first-of-type { animation:  none; }
        span:nth-of-type(2) { animation:  none; }
        span:last-of-type { animation: none;  }
    }

    .burger.not-active {
        span:first-of-type { animation: x1r .5s ease-in-out forwards; }
        span:nth-of-type(2) { animation: remr .5s ease-in-out forwards; }
        span:last-of-type { animation: x2r .5s ease-in-out forwards; }
    }


}






.home { overflow-x: hidden; z-index: 1;
    .sec-1 { z-index: 3;

        .home-carousel {
            aside { height: calc(100vh - 120px);
                img { height: 100%; object-fit: cover;}
            }

            article { width: 36%; padding: 60px; padding-left: 0px; position: absolute; right: 0; bottom: 8px; background: $white; min-width: 510px; right: 3.18%;

                .hero-title { opacity: 0;}

                p { font-family: $fontmain; font-size: 28px; line-height: 35px; opacity: 0;}

                .hldr { transform: translate(-53px, 0);}

            }

            .owl-item.active {
                .hero-title { @extend .slide-down; }
                p { @extend .slide-up;}
            }

            .owl-nav{ display: none;}

            .owl-dots { position: absolute; width: 36%; background: $blue; padding: 20px; line-height: 10px; right: 3.18%; bottom: -52px; min-width: 510px;
                .owl-dot span{ height: 20px; width: 20px; border-radius: 50%; border: 5px solid $black; background: #efebe0; margin: 0px 10px;}
                .owl-dot.active span { background: $black; }
            }

        }
        
    }


    .sec-blue-float  {
        .main-hldr {
            > article {
                .hldr {
                    article {

                        h2 { 
                            .extended-line{ width: 100%; height: 3px; background: #fff; display: block; position: absolute; top: 26.1719px; transform: translate(0, -50%); opacity: 0; }
                        }

                        h3, h2, p { opacity: 0;}

                        .learn-more-blue{ display: inline-block;}
                    }

                    aside {
                        .play-hldr {  background: transparent; box-shadow: 0px 0px 0px #fff;
                            .fd-top {opacity: 0;}
                            /* .line-ext { position: absolute; background: #fff; height: 3px; display: block; width: 215px; left: -145px; top: 50%; transform: translate(0, -50%); opacity: 0;  
                            } */
                        }

                        .play-hldr::after { opacity: 0; box-shadow: 0px 0px 5px #fff}
                    }
                }

                .bg-img { background: url(../images/sec-2.png); background-attachment: fixed; background-size: cover;
                }
            }

            > aside {background: url(../images/dots.png) no-repeat; background-size: contain; background-size: 80%; background-position: center; position: relative;



            }

            
        }



        .benchmarks {
            .parent { 
                .children {
                    h3, p { opacity: 0;}
                }
            }
        }

    }

    .sec-blue-float.animated  {
        .main-hldr {
            > article {
                .hldr {
                    article {
                        h3 {@extend .slide-down;}
                        h2, p { @extend .slide-up; }
                        .extended-line{ animation: fwidth 1s ease-in-out forwards ; animation-delay: 1s;}
                    }

                    aside {
                        .play-hldr {
                            .fd-top { @extend .slide-up; animation-delay: 1s; z-index: 3;}
                        }
                        .play-hldr::after { @extend .slide-up; animation-delay: 1s;}
                    }

                    
                    
                        
                   
               
                }
            }
        }

        .benchmarks {
            .parent { 
                .children {
                    h3 { @extend .slide-right; }
                    p { @extend .slide-left; }
                }
            }
        }

    }
    

    .circle--sec {
        .main-hldr { 

            > article { 
                h3, h3 + p { padding-right: 350px;}
                h3, p, ul li { opacity: 0; }
            }

            > aside::after { position: absolute; left: 50%; transform: translate(-50%, 0); width: 3px; content: ''; background: #fff; top: 50%; bottom: 80px; }

            > aside::before { position: absolute; transform: translate(-50%, 0); height: 3px; content: ''; background: #fff; bottom: 80px; width: 100%; left: 0; }
        }

    }

    .circle--sec.animated {
        .main-hldr { 

            > article { 
                h3, p { @extend .slide-down; }

                ul {
                    li { @extend .slide-up; }
                }

            }
            
        }

    }


    .sec-4 {
        .main-hldr { padding: 70px 30px; background: $lblack; position: relative; 
            .main-list { @extend .flex; position: relative; z-index: 3;
                > li {  padding-top: 60px; position: relative; opacity: 0; }
                
                > li:first-child { width: 37.36%; text-align: right; padding-right: 60px;
                    .strife{ position: absolute; top: 0; right: 0;}
                }
                > li:nth-child(2) { width: 33.94%; padding: 0px 3%; padding-top: 60px;
                    p { font-family: $fontmain; font-size: 20px; color: $white; line-height: 30px; letter-spacing: 1px; }
                }
                > li:last-child { width: 28.7%; padding-top: 0px;
                    ul { @extend .flex; justify-content: space-between;
                        li { width: 45%;
                            img { width: auto; margin: 0 auto; display: block; max-width: 100%;}
                        }
                    }
                }
                
            }
        }

        .main-hldr::after {     position: absolute; top: 4vh; width: 100%; height: 465px; left: 0; background: #000; content: ''; left: 19%; transform: rotate(5deg) skewX(5deg);}
    }

    .sec-4.animated {
        .main-hldr { 
            .main-list { 
                > li{  @extend .slide-up; }
                
            }
        }
    }




    


    footer { margin-top: -72px;}

    footer::after { height: 200px; background: $black; position: absolute; content: ''; width: 100%; left: calc(19% + 59px); top: 0;}

    

}


.contact {
    .banner {
        aside { background: url(../images/contact.jpg); background-size: cover; background-attachment: fixed;

        }
    }

    footer { padding-top: 0px;
        .main-hldr { z-index: 4;}
    }
}





.about {


    .banner {
        aside { background: url(../images/about.jpg);  background-size: cover; background-attachment: fixed;}
    }

    .vision {
        .hldr { padding: 55px 30px; background: $lblack;  text-align: center;
            h3 { font-family: $fonthead; color: $white; font-size: 30px; text-transform: uppercase; display: inline-block; position: relative; padding-bottom: 35px; opacity: 0;}
            h3::after { height: 10px; content: ''; position: absolute; bottom: 0; width: 100%; background: $blue; left: 0;}
        
            h4 { margin-top: 35px; line-height: 68px;  opacity: 0;}

            .quote-left { position: absolute; left: 30px; top: 55px; }
            .quote-right { position: absolute; right: 30px; top: 50%; transform: translate(0, -50%);}
            
            .cont { max-width: calc(100% - 140px); margin: 0 auto;}
        }
    }

    .vision.animated {
        .hldr {
            h3 { @extend .slide-down; }
            h4 { @extend .slide-up; }
        }
    }


    .sec-blue-float { z-index: 5; 
        .main-hldr { 
            > article {padding-right: 240px;
                .bg-img { background: url(../images/tower.png); background-size: cover; background-attachment: fixed;
                    .overlay { width: 100%; }
                }

                .hldr { 
                    article { width: 100%; padding: 0px; padding-left: 30px;
                        h3 { font-size: 24px; font-family: $fonthead; color: $white; text-transform: uppercase; letter-spacing: 1px; opacity: 0;}
                        h2.font-36 {text-transform: none; opacity: 0;}
                        p {opacity: 0;}
                    }
                }
            }
            > aside { background: url(../images/dots.png) no-repeat; background-size: contain; background-size: 80%; background-position: center 56px ; position: relative; }
            
        }
    }

    .sec-blue-float.animated { 
        .main-hldr { 
            > article {
                .hldr { 
                    article { 
                        h3 { @extend .slide-down }
                        h2.font-36, p { @extend .slide-up }
                         
                    }
                }
            }
        }
    }

    


    .benchmarks { top: 25px;
        .content {
            .hldr { padding-top: 0px; margin-top: -20px;
                aside {
                    .cover-blue { position: absolute;  height: 100%; background: $blue; top: 0; right: 0; left: 0; transition: 0.8s ease-in-out} 
                }
            }
        }
    }

    .benchmarks.animated { 
        .content {
            .hldr { 
                aside {
                    .cover-blue { left: 100%;} 
                }
            }
        }
    }



    .circle--sec { z-index: 4;
        .main-hldr { background: $white;

            > article { padding-bottom: 90px;
                ul { 
                    li { width: 23%; opacity: 0;}
                }
            }


            > aside { @extend .flex; align-items: center; justify-content: center;
                .vert-img {     height: 75%;
                    img {  width: auto; display: block; margin: 0 auto; height: 100%;}
                }
            }

        }
    }

    .circle--sec.animated { z-index: 4;
        .main-hldr { 
            > article { 
                ul { 
                    li { @extend .slide-up; }
                }
            }

        }
    }


    footer { margin-top: -75px;
        .gray-stripe { z-index: 4;}
    }

}



.services {

    .banner {
        aside {background: url(../images/services-banner.jpg); background-size: cover; background-attachment: fixed;}
    }

    .sec-blue-float { overflow: hidden;
        .main-hldr {
            > article { min-height: 768px;
                .bg-img {  background: url(../images/services-op.png); background-size: cover; background-attachment: fixed;
                    .overlay { width: 100%; }
                }
                .hldr {
                    article {     padding-top: 53px; padding-left: 90px; width: 100%; padding-right: 170px;
                        .stripe-hldr { position: absolute; transform: rotate(-90deg); top: 0; left: 30px; }
                        h2, p { opacity: 0;}
                    }
                }
            }
        }

        .img-frame { max-width: 540px; height: 485px; width: 100%; top: 24%; position: absolute; right: 0; z-index: 3;

            /* span:first-of-type {     height: 2px; background: #fff; position: absolute; display: block; top: 33px; z-index: 2; left: 24px; right: 24px; } */

            span { position: absolute; border: 1px solid #fff; top: 33px; left: 24px; bottom: 33px; right: 24px; z-index: 2; transform: translate(0, -400px); opacity: 0;}

            img { object-fit: cover; width: 100%; height: 100%;}

            aside { opacity: 0; transform: translate(400px, 0);}

            /* span:last-of-type { height: 2px; background: #fff; position: absolute; display: block; bottom: 33px; z-index: 2; left: 24px; right: 24px; } */
        }

        /* .img-frame::before { top: 33px; content: ''; width: 2px; background: $white; position: absolute; bottom: 33px; left: 22px; z-index: 2;}
        .img-frame::after { top: 33px; content: ''; width: 2px; background: $white; position: absolute; bottom: 33px; right: 22px; z-index: 2;} */
    }

    .sec-blue-float.animated {
        .main-hldr {
            > article { 
                .hldr {
                    article {     
                        h2, p { @extend .slide-up; }
                    }
                }
            }
        }

        .img-frame {
            span { animation: 1s box-down ease-in-out forwards; -webkit-animation: 1s box-down ease-in-out forwards;}
            aside {  animation: 1s box-left ease-in-out forwards; -webkit-animation: 1s box-left ease-in-out forwards;}
        }
        
    }

    .circle--sec { position: relative; z-index: 2; 
        .blue-rec { width: 325px; background: $blue; height: 515px; position: absolute; right: 75px; z-index: 2; top: -600px; }
        .main-hldr {
            > article { background: $white; position: relative; z-index: 3; padding-bottom: 150px; padding-right: 70px;

                .stripe-top { right: 25px; position: absolute; top: 25px; }

                ul { 
                    li { width: 23%; margin-bottom: 90px; opacity: 0;
                        .item {
                            article {
                                h4 { margin-bottom: 0px;}
                            }
                        }
                    }

                    li:last-child, li:nth-last-child(2), li:nth-last-child(3), li:nth-last-child(4) { margin-bottom: 0px;}
                }
            }

            
        }
    }

    .circle--sec.animated { 
        
        .main-hldr {
            > article { 
                ul {
                    li { @extend .slide-up; }
                }
            }

            
        }
    }

    


    footer { margin-top: -75px;}
}




.tech {

    .banner {
        aside { background: url(../images/tech.jpg); background-attachment: fixed; background-size: cover;

        }
    }

    .sec-blue-float {
        .main-hldr { min-height: 768px; 
            > article { 
                > aside { background: url(../images/services-op.png); background-attachment: fixed; background-size: cover;

                    .overlay { width: 100%;}
                }
                .hldr {
                    article { width: 100%; 
                        h2, p { opacity: 0;}
                    }
                }
            }

            > aside { padding: 50px 25px; background: url(../images/dots.png) no-repeat; background-position: 60px 15px;
                .temp-hldr { width: 300px; border: 1px solid $white; border-left: 0px ; padding: 25px 0px; left: 35px;
                    .item {
                        ul {     transform: translate(-25px, 0);
                            li { padding: 30px 0px; padding-right: 15px; position: relative; opacity: 0;
                                h4 { font-family: $fonthead; font-size: 52px; color: $blue; }
                                p { font-family: $fontmain; color: $white; line-height: 30px; font-size: 20px; letter-spacing: 1px;}
                            }

                            li::after { position: absolute; content: ''; border: 1px solid #fff; height: 3px; width: 60px; bottom: 0; left: -35px; }

                            li:last-child::after { display: none;}
                        }
                    }
                }

                .temp-hldr::before { width: 1px; background: $white; content: ''; height: 23px; position: absolute; top: 0;}
                .temp-hldr::after { width: 1px; background: $white; content: ''; height: 23px; position: absolute; bottom: 0;}
            }
        }
    }


    .sec-blue-float.animated {
        .main-hldr { 
            > article { 
                .hldr {
                    article {
                        h2, p { @extend .slide-up; }
                    }
                }
            }

            > aside { 
                .temp-hldr { 
                    .item {
                        ul {     
                            li { @extend .slide-up; }
                        }
                    }
                }
            }
        }
    }

    .video.animated {
        .main-hldr {
            article {
                h3 { @extend .slide-down; }
                .iframe-hldr { @extend .slide-up; }
            }
        }
    }


    footer { margin-top: -75px;}
}


.facilities {

    .banner {
        aside {  background: url(../images/about.jpg);  background-size: cover; background-attachment: fixed;

        }
    }

    .sec-blue-float {
        .main-hldr {
            > article { padding: 0px; 
                .bg-img{ background: url(../images/services-op.png);  background-size: cover; background-attachment: fixed;
                    .overlay { width: 100%;}
                } 
                .hldr {
                    article { width: 100%; }
                }
                .fac-list { @extend .flex; width: calc(100% + 430px); min-height: 768px; 
                    li { 
                        .img-parent{ @extend .flex; max-width: 410px; align-items: center; justify-content: space-between;   margin-bottom: 30px; opacity: 0;
                            .img-hldr { padding-right: 70px;
                                img { width: auto; max-width: 100%;}
                            }

                            .img-hldr:last-of-type { padding-right: 0px;}
                        }

                        p { margin-top: 30px; opacity: 0;}
                        p:first-of-type { margin-top: 0px;}

                        .sites { width: 100%; opacity: 0;
                            .box1 { width: 24.80%; height: 14.65%; position: absolute; top: 6.45%; left: 7.687%;}

                            .box2 { width: 28.80%; height: 14.24%; top: 45.83%; right: 9.790%; position: absolute;}

                            .box3 { width: 28.04%; height: 14.51%; top: 66.66%; left: 6.93%; position: absolute;}

                            .box-trig {
                                 a { position: absolute; height: 100%; width: 100%; }
                            }
                        }

                    }

                    li:first-child { width: 40%;}
                    li:last-child { width: 60%;  padding: 80px 0px; padding-left: 30px;}

                }

            }
        }
    }


    .sec-blue-float.animated {
        .main-hldr {
            > article { 
                .fac-list { 
                    li { 
                        .img-parent{ @extend .slide-down;}
                        p { @extend .slide-up;}
                        .sites {@extend .slide-left; }
                    }
                }
            }
        }
    }

    .orca-loc { position: relative; z-index: 3;}

    .orca-loc.animated {
        .top {
            .det-list { @extend .slide-down; animation-delay: .5s;}

            .main-parent { 
                .left { 
                    h3 { @extend .slide-down; }
                }
                .right {   
                    aside {  @extend .slide-left;}    
                }
            }

            
        }
    }

    .orca-loc.animated.black-left {
        .main-parent {
            .right {
                aside { @extend .slide-right;}
            }
        }
    }

    footer { margin-top: -53px}
}




















.orca-loc {
    .top { padding: 50px 0px;
        .sec-title { color: $lblack; padding-bottom: 30px; margin-bottom: 30px; display: inline-block; position: relative; opacity: 0;}

        .sec-title::after { position: absolute; content: ''; height: 10px; background: $blue; width: 100%; bottom: 0; left: 0;}
        .det-list { opacity: 0;
            > li{ margin-bottom: 25px;
                .cmn-class {
                    h4, h5 { font-family: $fonthead; font-size: 20px; letter-spacing: 1px;}
                    h4 { color: #747474; margin-bottom: 10px;}
                    h5 { padding-left: 10px;}
                    li, p{ font-family: $fontmain; font-size: 20px; letter-spacing: 1px;  }

                    .note { font-family: $fonthead; font-size: 20px; color: $black; margin: 10px 0px; display: block; letter-spacing: 1px;
                    }

                    .blue { color: $blue;}
                }

                .parent { @extend .flex; 
                    h4 { margin-bottom: 0px;}
                    
                }

                .parent-off { 
                    > ul { padding-left: 20px;
                        
                        li { padding-left: 25px; position: relative; margin-bottom: 10px; }
                        li::after { width: 8px; height: 8px; background: $blue; border-radius: 50%; content: ''; position: absolute; left: 0; top: 9px;}
                    }
                }
            }

            > li:last-of-type { margin-bottom: 0px;}
        }

        .main-parent { @extend .flex;  z-index: 3; position: relative;
            .left { width: calc(100% - 600px); /* width: 56%; */  padding-left: 30px; padding-right: 35px;}
            .right {   padding-right: 60px; width: 600px; 
                aside {  position: relative; z-index: 2; opacity: 0;
                    img { z-index: 3; position: relative;}

                    .full-size { position: absolute; z-index: 4; bottom: 26px; right: 26px; 
                        img { width: auto; }
                    }

                }
                aside::before { height: 100%; width: 100%; background: transparent; position: absolute; content: ''; top: 0px; left: 0; border: 8px solid #f3f3f3; z-index: 4;}

                aside::after { height: 90%;  width: calc(100% - 40px); background: $blue; position: absolute; content: ''; top: -18px; left: 70px; /* right: 40px;  */}
            }
        }

        .drk-portion { width: 135px; background: $lblack; height: 100%; position: absolute;}
    }

    .top.white-bg { background: $white;}

    .map { height: 465px;
        iframe { height: 100%; width: 100%;}
    }

    .btn-view { padding: 20px 30px; background: $lblack; text-align: center; 

        a { display: inline-block; background: $blue; padding: 10px 35px; border: 2px solid $white; font-family: $fonthead; font-size: 20px; text-transform: uppercase; color: $white; text-decoration: none; letter-spacing: 2px; position: relative; z-index: 3; transition: 0.5s ease-in-out;}

        a::after { content: ''; position: absolute; height: 50%; background: $white; left: 0; top: 0; width: 0; transition: 0.5s ease-in-out; z-index: -1;}
        a::before { content: ''; position: absolute; height: 50%; background: $white; right: 0; bottom: 0; width: 0; transition: 0.5s ease-in-out; z-index: -1;}

        a:hover::after, a:hover::before { width: 100%; }
        a:hover { color: $blue;}
    }

    

}

.orca-loc.black-right { 
    .drk-portion { right: 0; top: 0;}
}

.orca-loc.black-left { 
    .drk-portion { left: 0; top: 0;}

    .top {
        .main-parent { flex-direction: row-reverse;
            .left { padding-left: 35px; padding-right: 30px;}
            .right { padding-right: 0px; padding-left: 60px;
                aside::after { left: auto; right: 70px;}
            }
        }
    }
}









.sec-blue-float { background: #1a1e1f;
        .main-hldr { @extend .flex;
            > article { width: calc(100% - 400px); padding: 120px 0px;  /* width: 73%; */  z-index: 2;
                .bg-img { position: absolute; top: 0; width: 100%; height: 100%; 
                    img { height: 100%; object-fit: cover;}
                    .overlay { width: 96%; background: rgba(0, 0, 0, 0.4); height: 100%; position: absolute; left: 0; top: 0;}
                }

                .hldr {  @extend .flex; 
                    article { padding: 0px 30px; /* width: 85%; */ width: calc(100% - 215px);
                        h3 { margin-bottom: 20px;}
                        h2 { padding-bottom: 50px; margin-bottom: 40px; position: relative;}
                        h2::after { position: absolute; width: 160px; height: 10px; background: $blue; content: ''; bottom: 0; left: 0; }

                        p  {font-family: $fontmain; font-size: 20px; color: $white; line-height: 30px; letter-spacing: 1px;}
                    

                        .learn-more-blue { margin-top: 115px;}
                    }

                    aside { /* width: 15%; */  width: 215px;
                        .play-hldr { max-width: 140px; width: 100%; border-radius: 50%; @extend .flex; background: $white; height: 140px; align-items: center; justify-content: center; float: right; position: relative; transform: translate(70px, 0); box-shadow: 0px 0px 5px #fff; /* animation: pump 3s ease-in-out infinite; */
                            img { width: auto; position: relative; z-index: 3;}
                        } 

                        .play-hldr::after {     position: absolute; width: 100%; height: 100%; background: #fff; content: ''; top: 50%; animation: pump 3s ease-in-out infinite; -webkit-animation: pump 3s ease-in-out infinite; border-radius: 50%; top: 0; left: 0; transform: scale(1);}

                        > a { display: block; float: right; text-decoration: none; transform: translate(50px, 0); text-transform: uppercase; color: $white;  font-family: $fontmain; margin-top: 30px;}
                    }


                }
            }

            > aside { width: 400px; }
        }
}

.benchmarks { position: absolute; /* width: 32%; */  right: 0; top: 430px; z-index: 3; /* min-width: 490px; */ width: 500px;
        .top { text-align: center;
            h3 {     font-family: $fonthead; font-size: 40px; color: #fff; text-align: center; background: transparent; position: relative; display: inline-block; padding: 0px 15px; }
            span { display: block; background: $white; height: 1px; width: 100%; top: 50%; position: absolute; }
            span:first-of-type { left: 20px;}
            span:last-of-type { right: 20px;}
            .img-title { margin: 0 auto; display: block; width: auto; padding-bottom: 10px;}

        }

        .top::before { top: 50%; bottom: 0; width: 1px; background: $white; content: ''; position: absolute; left: 20px;}
        .top::after { top: 50%; bottom: 0; width: 1px; background: $white; content: ''; position: absolute; right: 20px;}

        .content { background: $blue; padding: 20px 20px; position: relative;
                .parent { @extend .flex; justify-content: center; margin-bottom: 40px; align-items: center;
                    .children { 
                        h3 { font-size: 72px; font-family: $fonthead; color: $black;}
                        p { font-size: 20px; color: $white; font-family: $fontmain; letter-spacing: 3px;}
                    }

                    .children:first-of-type { width: 38%; text-align: right; padding-right: 20px; border-right: 4px solid $black;}
                    .children:nth-of-type(2) { width: 62%;  padding-left: 20px;}
                }

                .hldr {     border: 1px solid #fff; border-top: 0px; padding-top: 40px; }


                .overlap-img { width: 600px; transform: translate(-140px, 0); height: 300px; object-fit: cover; height: 100%;}

                .visit { padding: 25px 30px; text-align: center;
                    a { font-size: 24px; color: $white; text-transform: uppercase; text-decoration: none; font-family: $fonthead; letter-spacing: 2px;}
                }
        }

        .content::before {     position: absolute; content: ''; width: 1px; height: calc(100% - 40px); background: #fff; top: 0; left: 20px;}
        .content::after {     position: absolute; content: ''; width: 1px; height: calc(100% - 40px); background: #fff; top: 0; right: 20px;}
}


.circle--sec { 
        .main-hldr { @extend .flex;

            > article { padding: 90px 30px 200px; width: calc(100% - 140px); overflow: hidden;
                h3 { color: $black; margin-bottom: 15px;}
                p { font-family: $fontmain; font-size: 22px; color: $gray;}

                ul { @extend .flex; margin-top: 110px; justify-content: space-between;
                    li { width: 30%; 
                        .item { 
                            .img-hldr { height: 137px; display: block; position: absolute; top: -25px; left: 50%; transform: translate(-50%, 0); z-index: 2;
                                    img { width: auto; display: block; margin: 0 auto; height: 100%; object-fit: contain;}
                            }
                            .main-circle { max-width: 217px; width: 100%; height: 217px; border-radius: 50%; background: $black; position: relative; margin: 0 auto; overflow: hidden;
                                
                            }

                            .main-circle::after { position: absolute; width: 100%; height: 100%; background: $blue; content: ''; border-radius: 50%; top: 60%;}



                            article { text-align: center; margin-top: 20px;
                                h4 { margin-bottom: 20px; padding-top: 10px;}
                                p { font-family: $fontmain; font-size: 20px; color: $black; line-height: 30px;  margin-bottom: 10px; padding-bottom: 15px; position: relative; letter-spacing: 1px;}
                                p::after { width: 45px; background: #ebebeb; height: 4px; content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); }

                                p:last-of-type { margin-bottom: 0px; padding-bottom: 0px;}
                                p:last-of-type::after { display: none;}
                            }

                            article::before {     height: 44px; width: 4px; background: #ebebeb; content: ''; position: absolute; top: -42px; left: 50%; transform: translate(-50%, 0);}


                        }
                    }
                }

                .sliding-letters {     text-transform: uppercase; font-family: $fonthead; font-size: 200px; color: #f2f2f2; position: absolute; bottom: 0; line-height: 150px;  animation: slidein 20s ease-in-out infinite; width: 100%; padding: 0px 30px; left: 0;}

            }

            > aside { width: 140px; background: $lblack; position: relative;
                .learn-more-blue { position: absolute; top: 50%; transform: translate(-50%, -50%) rotate(90deg); left: 50%; width: 189px; z-index: 2;

                }
            }

            

            

        }
}






.video { background: $lblack; position: relative; z-index: 3;
    .main-hldr {

        .blue-rec {     width: 300px; height: 334px; background: $blue; position: absolute; z-index: 0; top: -40px; right: 100px; 

            .tr {     width: 57px; height: 57px; background: #1a1e1f; display: block; position: absolute; right: 13px; bottom: -28px; transform: rotate(45deg);

            }

        }

        > article { padding: 60px 30px; padding-right: 90px; background: $white;
            h3 { margin-bottom: 30px; opacity: 0;}

            .iframe-hldr { opacity: 0;
                iframe { height: 585px;}
            }

        }

        > aside { background: transparent;}
    }

}

.news-u {

    .banner {
        aside { background: url(../images/contact.jpg); background-size: cover; background-attachment: fixed;}
    }

    .news-list {
        .main-list li { opacity: 0; }
    }

    .news-list.animated {
        .main-list > li { @extend .slide-up; }
    }

    footer { margin-top: -75px;}
}





.faqs {
    
    .banner {
        aside { background: url(../images/faqs.jpg); background-size: cover; background-attachment: fixed;}
    }

    .sec-2 { position: relative; z-index: 2;
        .hldr { padding: 30px; background: $lblack; padding-bottom: 105px;
            .white-bg { width: 385px; background: $white; height: 100%; position: absolute; left: 0; top: 0; }
            article { 
                ul {
                    li { padding-left: 25px; padding-top: 30px; background: url(../images/dots.png) no-repeat; margin-bottom: 40px; background-position: top left; opacity: 0;
                        .item {  @extend .flex;
                            aside { max-width: 330px;  @extend .flex; justify-content: flex-end; width: 100%; padding-right: 15px;
                                .img-hldr { width: 100%; height: 220px; border-radius: 50%; background: $lblack; @extend .flex; justify-content: center; align-items: center; max-width: 220px; transform: translate(-50%, 0);
                                    img { display: block; width: auto; transform: translate(65%, 0);}
                                }

                                .circleface { position: absolute; height: 100%; width: 100%; border-radius: 50%; overflow: hidden;
                                        .circlemain {
                                            height: 100%; width: 100%; background: #05bcd7; position: absolute; border-radius: 50%; text-align: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-end; flex-wrap: wrap; align-items: center; padding: 0px 30px; right: 138px; font-family: $fonthead; font-size: 30px; color: $white;
                                        }
                                }

                            }

                            article { width: calc(100% - 330px); padding-left: 30px; padding-right: 90px; 
                                h4 { font-family: $fonthead; color: $blue; text-transform: uppercase; letter-spacing: 2px; font-size: 22px; line-height: 32px; margin-bottom: 15px;}
                                p { font-family: $fontmain; font-size: 20px; color: $white; line-height: 30px; letter-spacing: 1px;}
                            }
                        }
                    }

                    li:last-child { margin-bottom: 0px; }
                }
            }
        
            img { width: auto;}
        }
    }

    .sec-2.animated { 
        .hldr { 
            
            article { 
                ul {
                    li { @extend .slide-up;
                        
                    }
                }
            }
        }
    }

    footer { margin-top: -75px;}

}



.back-to-tp {    position: absolute; bottom: 20px; z-index: 2;
    i { margin-right: 10px;}
    a { font-family: $fontmain; font-size: 18px; text-transform: uppercase; color: $blue; text-decoration: none; font-weight: bold;}
}















.iframe-hldr {
    iframe { width: 100%;}
}


.banner {
    aside { position: absolute; height: 100%; width: 100%; left: 0; top: 0; 
        img { height: 100%; object-fit: cover;  display: none;}
    }
    .hldr{  @extend .flex; justify-content: flex-end;
        article { height: calc(100vh - 120px); max-width: 48%; width: 100%; @extend .flex; align-items: center; justify-content: center; padding: 30px 50px; text-align: center;
            .hero { z-index: 3;
                h3 { color: $blue; z-index: 3; opacity: 0;}
                p { margin-top: 30px; font-family: $fontmain; font-size: 28px; line-height: 35px; color: $white; letter-spacing: 1px; opacity: 0;}
            
                h5 { margin-top: 15px; color: $white; font-family: $fontmain; font-size: 22px; letter-spacing: 1px; text-transform: uppercase; opacity: 0;}

                .hero-list { margin-top: 15px; @extend .flex; justify-content: center; opacity: 0;
                    li { padding-right: 60px; position: relative; margin-bottom: 15px;
                        a { font-family: $fontmain; font-size: 22px; color: $white; text-decoration: none; letter-spacing: 2px; padding-bottom: 5px; border-bottom: 1px solid transparent;}
                        a:hover { color: $blue; border-bottom: 1px solid $blue;}
                    }
                    li.active {
                        a { color: $blue; border-bottom: 1px solid $blue; }
                    }

                    li::after { content: ''; position: absolute; top: 5px; bottom: 5px; width: 2px; background: $white; right: 29px;}
                    li:last-child { padding-right: 0px; }
                    li:last-child::after  {display: none;}
                }
            }
        }

        .overlay { width: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; height: 100%;}
    }
}


.banner.active {
    .hldr {
        article {
            .hero {
                h3 { @extend .slide-down; }
                p, h5, .hero-list { @extend .slide-up; }
            }
        }
    }
}



.news-list {
    .main-hldr {  
        .side-white {     width: 280px; background: #fff; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; }
        > article { background: $lblack; padding: 80px 30px; padding-right: 120px; 

            .main-list { position: relative; z-index: 3;
                > li {  margin-bottom: 50px; padding-top: 30px; background: url(../images/dots.png) no-repeat; background-position: top left; padding-left: 20px;
                    .item { @extend .flex; 
                        aside { /* max-width: 24%; */ height: 220px; width: 100%; padding-left: 11px; position: relative; z-index: 2; max-width: 310px;
                            img { height: 100%; object-fit: cover; object-position: center; position: relative; z-index: 2;}
                        }

                        aside::after { position: absolute; content: ''; height: 100%;  background: $blue; top: 11px; left: 0; right: 11px;}

                        article { /* width: 76%; */ padding-left: 40px; padding-top: 10px; width: calc(100% - 310px);
                            h4 { font-family: $fontmain; color: $blue; font-size: 22px; letter-spacing: 2px; line-height: 32px; margin-bottom: 5px;}
                        
                            .breadcrumbs { margin-bottom: 30px;}

                            p { font-family: $fontmain; color: $white; letter-spacing: 1px; font-size: 20px; line-height: 30px; margin-bottom: 25px;}

                            > a { font-family: $fontmain; font-size: 22px; color: $blue; padding-bottom: 5px; display: inline-block; border-bottom: 1px solid $blue; padding-right: 5px; text-decoration: none; }
                        }
                    }
                }

                > li:last-child { margin-bottom: 0px;}
            }


            .pagination-hldr { margin-top: 70px;}
        }
    }

    

}



.privacy {

    .banner {
        aside { background: url(../images/about.jpg); background-size: cover; background-attachment: fixed;}
    }

    .sec-2 { position: relative; z-index: 3;
        .wrp { padding: 30px 0px 0px; background: $lblack;
            .main-hldr { @extend .flex; justify-content: space-between;
                > article { width: calc(100% - 435px); padding: 40px 60px; background: $white; z-index: 2; min-height: 1300px;     padding-bottom: 60px;

                }



                > aside { background: $lblack; width: 400px;  padding: 30px 35px;
                    ul {
                        li { margin-bottom: 20px; padding-bottom: 23px; position: relative; opacity: 0;
                            a { text-decoration: none; font-family: $fonthead; font-size: 18px; color: $white; letter-spacing: 2px;}
                        }



                        li::after { position: absolute; content: ''; width: 50px; height: 3px; background: $white; left: 0; bottom: 0; }
                        li:last-child { margin-bottom: 0px; padding-bottom: 0px}
                        li:last-child::after { display: none;}
                    }
                }

                .box-blue { width: 130px; background: #1dbfd8; height: 55%; position: absolute; right: 400px; top: -15px;}
            }
        }
    }

    .sec-2.animated {
        .wrp {
            .main-hldr { 
                > aside { 
                    ul {
                        li { @extend .slide-left; }
                    }
                }

                
            }
        }
    }

    footer { margin-top: -75px;}
}










.acc {
    .top {
        h4 {
            a { padding: 20px 65px; display: block; border-bottom: 2px solid $blue; padding-left: 0px; text-decoration: none; font-family: $fonthead; font-size: 22px; color: $blue; letter-spacing: 2px;}

            .angle-hldr { position: absolute; top: 50%; right: 30px; transform: translate(0, -50%) rotate(-180deg); transition: 0.5s; }

        }
    }

    .body { height: 0; overflow: hidden; transition: 0.5s;}
    .panel-cs { padding: 20px 0px; 
        p { font-family: $fontmain; font-size: 20px; line-height: 30px; letter-spacing: 1px;}
    }


}

.acc.active {
    .body { height: auto;}
    .top h4 .angle-hldr { transform: translate(0, -50%) rotate(0deg); transition: 0.5s; }
}



















.breadcrumbs { @extend .flex;
    li { padding-right: 16px; position: relative;
        a, h5 { font-family: $fontmain; font-size: 18px; color: $lgray; line-height: 24px;}
        a { text-decoration: none; }
    }
    li::after { position: absolute; width: 2px; top: 3px; bottom: 3px; background: $lgray; right: 7px; content: '';}
    li:last-child { padding-right: 0px;}
    li:last-child::after { display: none;}
}


.pagination-hldr { position: relative; z-index: 4; left: 87px;
    .parent { @extend .flex; align-items: center;
        .left { padding-right: 30px;
            h6 { font-family: $fontmain; font-size: 22px; letter-spacing: 1px; color: $black;}
        }

        .right {padding-left: 25px;}
        .pagination-cs { padding: 0px; @extend .flex;
            li { margin-right: 5px;
                a { font-size: 18px; font-family: $fonthead; color: $white; text-transform: uppercase; display: block; padding: 5px 10px; text-decoration: none; background: transparent; transition: background 0.3s ease-in-out; }   
            }

            li.active, li:hover {
                a { background: $blue;}
            }
            li:last-child { margin-right: 0px;}
        }
    }
}







.follow { position: fixed; background: $black; z-index: 9; top: 0; left: 0; height: 100%; width: 70px;
    ul {  padding: 0px 19.5px; position: absolute; bottom: 0;
        li { padding-bottom: 20px; position: relative; width: 100%; width: 31px; text-align: center;
            h5 { font-family: $fonthead; color: $white; text-transform: uppercase; font-size: 18px; display: none;}
            p { font-family: $fonthead; font-size: 20px; text-transform: uppercase; color: $white; letter-spacing: 2px;}
            a { outline: none; 
                img { width: auto;}
            }
        }
    }
}




footer { padding-top: 75px; background: $lblack; position: relative;
    .gray-stripe { position: absolute; top: 0; right: 0; z-index: 3;}
    .main-hldr { @extend .flex; z-index: 2;

        > article { background: $blue; padding: 40px 70px 40px 30px; max-width: 71.26%; width: 100%;
            aside { position: absolute; top: 20px; right: 20px; }
            h3 { margin-bottom: 30px; padding-right: 65px;}

            .main-list { @extend .flex; justify-content: space-between;
                > li { width: 47%; margin-bottom: 20px;
                    h5 { margin-bottom: 5px; font-family: $fontmain; font-size: 20px; color: $white; letter-spacing: 1px;}
                    input[type="text"], input[type="email"] { height: 40px; }
                    input[type="text"], input[type="email"], textarea {  width: 100%; border: 2px solid $white; background: transparent; padding: 0px 15px;}
                    textarea { padding: 15px; height: 150px; }

                    input[type="checkbox"] { width: 25px; height: 25px; border:2px solid $white; -webkit-appearance: checkbox; margin: 0px;}
                    label { margin: 0; font-weight: 300; font-family: $fontmain; font-size: 20px; color: $white; letter-spacing: 1px; vertical-align: top;
                        a { color: $white; text-decoration: underline;}
                    }

                    input[type="submit"] { background: $black; color: $white; font-family: $fonthead; font-size: 20px; text-transform: uppercase; padding: 15px 40px;}

                }
                > li:nth-last-child(2) { width: 100%;}
                > li:last-child { width: 100%; margin-bottom: 0px;
                    ul { @extend .flex; align-items: center; justify-content: space-between;
                        li { width: 47%;}
                        li:last-child { text-align: right;}
                    }
                }
            }

        }

        > aside { background: transparent; width: 28.74%; padding-top: 57px;
            .hldr { background: $white; height: 100%;}
            .top { padding: 20px; background: $white; border-bottom: 3px solid $blue;
                img { display: block; width: auto; margin: 0 auto 20px;}
                h4 { font-family: $fonthead; font-size: 30px; text-transform: uppercase; color: $black; letter-spacing: 2px; text-align: center;}
            }

            ul { background: $white;
                li { padding: 20px; text-align: center; border-bottom: 1px solid $blue;
                    h5 { font-family: $fonthead; font-size: 22px; color: $black;}
                    p { font-family: $fontmain; font-size: 18px; line-height: 28px;}
                }
            }

        }
    }
}



.footer-btm { background: $black;
    .hldr { padding: 25px 30px;
        ul { @extend .flex; justify-content: center;
            li { padding-right: 22px; position: relative;
                a { text-decoration: none; outline: none; font-size: 14px; color: $white; font-family:
                    $fontmain;}
                p { font-size: 14px; color: $white; font-family:
                    $fontmain; }
            }

            li::after { position: absolute; content: ''; background: $white; width: 2px; top: 4px; bottom: 4px; right: 11px;}
            li:last-child { padding-right: 0px;}
            li:last-child::after { display: none;}
        }

        ul.fnav { margin-bottom: 5px;}
    }
}


.video-popup { max-width: 800px; background: $white; padding: 40px 30px; margin: 0 auto; width: 100%; border-radius: 10px;
    iframe { width: 100%; }
}








@keyframes pump{
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}


@keyframes slidein {
    0% { 
        transform: translate(100%, 0);
        opacity: 1;
    }
    80% {
        transform: translate(0, 0);
        opacity: 1;
    }
    95% { 
        transform: translate(-100%, 0);
        opacity: 1;
    }
    100%{
        transform: translate(100%, 0);
        opacity: 0;
    }
}



@keyframes x1 {
    from {
        transform: rotate(0deg) translate(0, 0);
    }
    to {
        transform: rotate(45deg) translate(5px, 11px);
    }
}

@keyframes rem {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(100%, 0);
        opacity: 0;
    }
}

@keyframes x2 {
    from {
        transform: rotate(0deg) translate(0, 0);
    }
    to {
        transform: rotate(135deg) translate( 0px, 8px);
    }
}


@keyframes x1r {
    from {
        transform: rotate(45deg) translate(5px, 11px);
    }
    to {
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes remr {
    from {
        transform: translate(100%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes x2r {
    from {
        transform: rotate(135deg) translate( 0px, 8px);
    }
    to {
        transform: rotate(0deg) translate(0, 0);
    }
}


@keyframes slide-down {
    from {
        transform: translate(0, -40px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1;
    }
}


@keyframes slide-up {
    from {
        transform: translate(0, 40px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1;
    }
}


@keyframes slide-right {
    from {
        transform: translate(-40px, 0px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1;
    }
}
    

@keyframes slide-left {
    from {
        transform: translate(40px, 0px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1;
    }
}
  
@keyframes fwidth {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes fwidth2 {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}




@keyframes box-down {
    from {
        transform: translate(0, -400px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes box-left {
    from {
        transform: translate(400px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* CLASS GO HERE */
}